<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :datumkind) %> required">
      <label for="stations_datumkind">Datum Description</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_datumkind] %>"></span>
        <select name="stations[datumkind]" class="form-control input-sm" id="stations_datumkind">
          <% DatumKind.each do |datum| %>
            <option value="<%= datum.name %>" <%= (datum.name == station.datumkind) ? "selected='selected'" : '' %> ><%= datum.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :datum) %> required">
      <label for="stations_meridian">Datum Value</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_datum] %>"></span>
      <input type="text" name="stations[datum]" value="<%=station.datum %>" class="form-control input-sm" id="stations_datum" placeholder="Datum Value">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :units) %> required">
      <label for="stations_units">Level Units</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_units] %>"></span>
      <select name="stations[units]" class="form-control input-sm" id="stations_units">
        <% DataSet::UNITS.each do |unit| %>
            <option value="<%= unit %>" <%= (unit == station.units) ? "selected='selected'" : '' %> ><%= unit %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :meridian) %> required">
      <label for="stations_meridian">Meridian</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_meridian] %>"></span>
      <input type="number" name="stations[meridian]" value="<%=station.meridian || 0 %>" class="form-control input-sm" id="stations_meridian" placeholder="Meridian">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :months_on_station) %>">
      <label for="stations_meridian">Months On Stations</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_months_on_station] %>"></span>
      <input type="number" name="stations[months_on_station]" value="<%=station.months_on_station %>" class="form-control input-sm" id="stations_months_on_station" placeholder="Months on station">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :last_date_on_station) %>">
      <label for="stations_meridian">Last Date On Station</label>
      <span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" title="<%= TIPS[:stations_last_date_on_station] %>"></span>
      <input type="date" name="stations[last_date_on_station]" value="<%=station.last_date_on_station %>" class="form-control input-sm" id="stations_last_date_on_station" placeholder="Last Date ON Station">
    </div>
  </div>
</div>