<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :name) %> required">
      <label for="stations_name">Station Name</label>
      <%== help_tooltip(:stations_name) %>
      <input type="text" name="stations[name]" value="<%=station.name%>" class="form-control input-sm " id="stations_name" placeholder="Station Name">
      <%== form_error_message(station, :name) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :ref_index) %>">
      <label for="stations_ref_index">Reference Station</label>
      <%== help_tooltip(:stations_ref_index) %>
      <select name="stations[ref_index]" class="form-control input-sm" id="stations_ref_index">
        <option value="">--</option>
        <% @ref_stations.each do |res| %>
            <option value="<%= res.index %>" <%= (res.index == station.ref_index) ? "selected='selected'" : '' %> ><%= res.name %></option>
        <% end %>
      </select>
      <%== form_error_message(station, :ref_index) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="stations_id_context">Station ID Context</label>
      <%== help_tooltip(:stations_id_context) %>
      <input type="text" name="stations[station_id_context]" value="<%=station.station_id_context%>" class="form-control input-sm" id="stations_id_context" placeholder="Station Id Context">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="stations_id">Station ID</label>
      <input type="text" name="stations[station_id]" value="<%=station.station_id %>" class="form-control input-sm " id="stations_id" placeholder="Station id">
      <%== form_tip(:stations_station_id) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :lat) %> required">
      <label for="stations_lat">Latitude</label>
      <input type="text" name="stations[lat]" value="<%=station.lat %>" class="form-control input-sm" id="stations_lat" placeholder="Latitude">
      <%== form_error_message(station, :lat) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :lng) %> required">
      <label for="stations_lng">Longitude</label>
      <input type="text" name="stations[lng]" value="<%=station.lng %>" class="form-control input-sm" id="stations_lng" placeholder="Longitude">
      <%== form_error_message(station, :lng) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="stations_timezone">Timezone</label>
      <select name="stations[timezone]" class="form-control input-sm" id="stations_timezone">
        <option value="">Unknown</option>
        <% Timezone.each do |zone| %>
            <option value="<%= zone.name %>" <%= (zone.name == station.timezone) ? "selected='selected'" : '' %> ><%= zone.name[1..-1] %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="stations_country required">Country</label>
      <input type="text" name="stations[country]" value="<%=station.country %>" class="form-control input-sm" id="stations_country" placeholder="Country">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="stations_min_dir">Ebb Direction</label>
      <%== help_tooltip(:stations_min_dir) %>
      <input type="text" name="stations[min_dir]" value="<%=station.min_dir %>" class="form-control input-sm" id="stations_min_dir" placeholder="Ebb Direction">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="stations_max_dir">Flood Direction</label>
      <%== help_tooltip(:stations_max_dir) %>
      <input type="text" name="stations[max_dir]" value="<%=station.max_dir %>" class="form-control input-sm" id="stations_max_dir" placeholder="Flood Direction">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group <%= form_error_class(station, :units) %> required">
      <label for="stations_units">Level Units</label>
      <%== help_tooltip(:stations_units) %>
      <select name="stations[units]" class="form-control input-sm" id="stations_units">
        <% DataSet::UNITS.each do |unit| %>
            <option value="<%= unit %>" <%= (unit == station.units) ? "selected='selected'" : '' %> ><%= unit %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="stations_restriction">Restriction</label>
      <%== help_tooltip(:stations_restriction) %>
      <select name="stations[restriction]" class="form-control input-sm" id="stations_restriction" >
        <% DataSet::RESTRICTION.each do |res| %>
            <option value="<%= res %>" <%= (res == station.restriction) ? "selected='selected'" : '' %> ><%= res %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>

