<ul class="nav nav-tabs">
    <li class="<%== active == 'general' ? 'active' : '' %>"><a data-toggle="ta" href="/stations/<%= station.index %>/edit/general">General</a></li>
    <% if station.is_reference? %>
    <li class="<%== active == 'constituents' ? 'active' : '' %>"><a data-toggle="ta" href="/stations/<%= station.index %>/edit/constituents">Constituents</a></li>
    <% end %>
    <% if station.is_subordinate? %>
    <li class="<%== active == 'offset' ? 'active' : '' %>"><a data-toggle="ta" href="/stations/<%= station.index %>/edit/offset">Offset</a></li>
    <% end %>
  <li class="<%== active == 'verbiage' ? 'active' : '' %>"><a data-toggle="ta" href="/stations/<%= station.index %>/edit/verbiage">Verbiage</a></li>
  <li class="<%== active == 'water_level' ? 'active' : '' %>"><a data-toggle="ta" href="/stations/<%= station.index %>/edit/water_level">Water level</a></li>
</ul>