<%== render('stations/partials/_breadcrumbs', { locals: { station: @station, active: 'Constituents' } } ) %>
<%== render('stations/partials/_tabs', { locals: { station: @station, active: 'constituents' } } ) %>

<h3>Edit constituents </h3>

<form action="/stations/edit" method="post">
  <div class="row">
    <div class="col-md-6">
       <input type="hidden" name="type" value="constituents" />
       <input type="hidden" name="index" value="<%= @station.index %>" />
       <%== csrf_tag %>
       <% if @station.is_reference? %>
         <%== render('stations/forms/_constituents', { locals: { station: @station } } ) %>
       <% end %>
       <button type="submit" class="btn btn-default">Update</button>
   </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <label for="constants_name">Name</label>
            <%== help_tooltip(:constants_name) %>
          </div>
          <div class="col-md-4">
            <label for="constants_amp">Amplitude</label>
            <%== help_tooltip(:stations_amp) %>
          </div>
          <div class="col-md-4">
            <label for="constants_name">Phase</label>
            <%== help_tooltip(:stations_phase) %>
          </div>
        </div>
      </div>
      <div data-role="dynamic-fields">
        <% @station.constants.each do |const| %>
          <%== render('stations/forms/_constant', { locals: { station: @station, constant: const, select_constituents: false } } ) %>
        <% end %>
        <h4>Add new constants</h4>
        <%== render('stations/forms/_constant', { locals: { station: @station, constant: Constant.new, select_constituents: true } } ) %>
      </div>
      <div class="row">
        <h3></h3>
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>


